<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    
    <title>Android4Lumia</title> 
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="tnb">
      <button class="pure-material-button-contained" onclick="window.location.href='./wp.html';">Restore Windows Phone</button>
      <button class="pure-material-button-contained" onclick="window.location.href='./faq.html';">FAQ</button>
    </header>
    
    
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline-fix">{{ site.description | default: site.github.project_tagline }}</h2>
      <a href="https://github.com/Android4Lumia" class="btn">View on GitHub</a>
      <a href="https://twitter.com/android4lumia" class="btn">Twitter</a>
      <span class="site-footer-owner">Contributors: sjrmac, feherneoh, mattschwantes, banmeifyouwant, kholk, m11kkaa, PecanCM, thinhx2, trashmaster76</span>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      
      <div class="video-container"><iframe width="853" height="480" src="https://www.youtube.com/embed/_OW88UTTDug" frameborder="0" allowfullscreen</iframe</div>
    </main>
  </body>
</html>
